.projects {
	background-color: $grey;
	padding: 12rem 2rem;
	@media screen and (min-width: $large-mobile) {
		padding: 14rem 2rem;
	}
	@media screen and (min-width: $large-tablet) {
		padding: 16rem 2rem 8rem;
	}
	h2 {
		color: $fuschia;
		text-align: center;
	}
	&__wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
		gap: 3rem;
		margin: 5rem auto;
		@media screen and (min-width: $large-mobile) {
			gap: 4rem;
			grid-template-columns: repeat(auto-fill, minmax(34rem, 1fr));
		}
		@media screen and (min-width: $large-tablet) {
			grid-template-columns: repeat(auto-fill, minmax(38rem, 1fr));
		}
		@media screen and (min-width: $small-desktop) {
			grid-template-columns: repeat(auto-fill, minmax(45rem, 1fr));
		}
		@media screen and (min-width: $desktop) {
			grid-template-columns: repeat(auto-fill, minmax(47rem, 1fr));
		}
	}
}