.hero {
	align-items: center;
	color: $dark;
	background-color: $grey;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-top: 0;
	position: relative;
	text-align: center;
	h1 {
		color: $fuschia;
	}
	&__container {
		flex-direction: column-reverse;
		margin-top: $default-margin;
		position: relative;
		z-index: 2;
		@media screen and (min-width: $large-tablet) {
			flex-direction: row;
		}
	}
	&__column {
		height: initial;
	}
	&__content-column {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		p {
			font: 400 2.2rem/2.8rem $redhat-reg;
			margin-bottom: $default-margin;
			@media screen and (min-width: $large-tablet) {
				font: 400 2.8rem/3.4rem $redhat-reg;
			}
		}
	}
	&__img-column {
		display: flex;
		justify-content: center;
		margin-bottom: $default-margin;
		position: relative;
		@media screen and (min-width: $large-tablet) {
			margin-bottom: 0;
		}
	}
	&__img-wrapper {
		position: relative;
		max-width: 36rem;
		width: 100%;
		z-index: 2;
		@media screen and (min-width: $small-desktop) {
			max-width: 47rem;
			min-width: 36rem;
		}
		img {
			border-radius: 56% 44% 59% 41% / 30% 60% 40% 70%;
			width: 100%;
		}
	}
	&__chalk-border-grey {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		bottom: -23.5rem;
		height: 40rem;
		left: 0;
		position: absolute;
		right: 0;
		z-index: 1;
	}
}
