// Colors
$dark: #2d3436;
$dark-2: #190510;
$white: #ffffff;
// $grey: #f1f2eb;
$grey-2: #f0eeef;
$blue: #247ba0;
$blue-2: #2983c8;
$blue-dk: #0f314b;
$orange-red: #f93333;
$orange: #bf6900;
$orange-2: #f98d33;
$fuschia: #b33771;
$fuschia-2: #c82983;
$purple: #1b3291;
