.navbar {
	background-color: $white;
	color: $white;
	max-width: 50%;
	margin-left: auto;
	padding: 1rem;
	border-radius: 50px;
	margin-top: 1rem;
	margin-right: 1rem;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
	ul {
		display: flex;
		list-style: none;
		a {
			text-decoration: none;
			color: $dark;
			margin-right: 20px;
		}
	}
}
