/* Style Imports */
@import "./styles/typography";
@import "./styles/variables";
@import "./styles/components";

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

.page-wrapper {
	max-width: 90%;
	margin: 0 auto;
}

.hero-section {
	margin-top: 8rem;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: $dark;
	text-align: center;
	h1 {
		color: $fuschia;
	}
	.content-container {
		display: flex;
		justify-content: center;
		.column {
			width: 45%;
			height: 75vh;
			h3 {
				font-weight: $light;
				margin-bottom: 7rem;
			}
			.button {
				text-decoration: none;
				color: $dark;
				text-transform: uppercase;
				font-weight: $medium;
				color: $fuschia;
				border: 3px solid $fuschia;
				padding: 15px 8px;
				border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
			}
		}
	}
}
